@media only screen and (max-width: 1250px ) {
	.main-container {
		max-width: 768px;
		padding: 0 44px;
	}  
	header nav { width: 65%; }
	header nav .item:first-child{
		display: none;
	}
	header nav .item{
		width: 33.333333%;
	}
	header nav .item::after{
		left: 22%;
		width: 56%;
	}
	#search-btn {
		margin-left: 28px;
	}
	article {
		margin: 40px 0;
		width: 100%;
	}
	.videos article {
		width: 48.53%;
	}
	.videos article:first-child  .preview {
		max-width: 500px;
	}
	.videos article:nth-child(n+6) {
		display: none;
	}
	.videos article:nth-child(n) {
		margin: 10px 0; 
	}
	.videos article:nth-child(2n) {
		margin: 10px 2.9% 10px 0; 
	}
	.videos article:first-child {
		margin: 40px 0 40px;
	}
	.videos article:nth-child(5) {
		margin-bottom: 79px;
	}
}
@media only screen and (max-width: 767px ) {
	.main-container {
		padding: 0 10px;
	}
	header {
		padding: 20px 14px;
	}
	header nav { display: none; }
	.hamburger {
		display: block;
		margin: 7px 14px 0 0 ;
	}
	#search-input {
	    top: 10px;
	    right: 15px;
	    min-width: 150px;
	}
	.sign {
		display: none;
	}	
	.sign-search {
		color: #fff;
	}  
	#search-btn {
    	margin: 13.5px 45px 0 0px;
	}
	#search-btn img {
		width: auto;
	}
	article {
		margin: 10px 0;
	}
	.preview {
		padding: 20px 30px 50px 30px;
	}
	.preview h2 {
		margin: 0;
	}
	.preview p {	
		font-size: 1.2em;
		line-height: 1.7em;
		margin-bottom: 25px;
	}
	.videos article {
		width: 100%;
		float: none;
	}
	.videos article:first-child {
		margin: 10px 0 20px;
	}
	.videos article:nth-child(n+4) {
		display: none;
	}
	.videos article:nth-child(n) {
		margin: 10px 0; 
	}
	.videos article:first-child {
		margin: 10px 0 20px;
	}
	.videos article:nth-child(3) {
		margin-bottom: 10px;
	}
	.pagination {
		padding: 47px 20px 28px;
	}
	footer nav {
		display: none;
	}
	footer .copyright {
		float: none;
		text-align: center;
	}
	footer {
		padding: 22px 0;
		color: #999;
	}
}

