@font-face {
    font-family: 'Roboto Regular';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../font/helveticaneuecyr-roman.otf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../font/Roboto-Medium.ttf);
    font-weight: normal;
}
body {
	font-family: 'Roboto Regular', Arial, sans-serif;
	font-size: 14px;
}
a {
	text-decoration: none;
}
.main-container {
	max-width: 1180px;
	margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* header
================================== */
header {
	min-height: 90px;
	background: #000000;
	color: rgba(255, 254, 254, 0.541);
	box-sizing: border-box;
	padding-top: 20px;
}
header a {
	color: inherit;
}
.logo,  
header nav {
	float: left;
}
header .sign-search {
	float: right;
	position: relative
}
.logo { width: 8.5%; min-width: 50px; }
header nav { width: 49%; }


.logo a{
	display: block;
	height: 50px;
	width: 50px;
}
.logo img {
	margin-top: -1px;
	margin-left: -5px;
}

header nav .item{
	float: left;
	width: 25%;
	text-align: center;
	text-transform: uppercase;
	margin-top: 25px;
	padding-bottom: 28.5px;
	position: relative;
	cursor: pointer;
}

header nav .item::after{
	opacity: 0;
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 8%;
	width: 84%;
	max-width: 120px;
	height: 4px;
	background-color: #fff;
	-webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
header nav .item:hover{
	color: #fff;
}
header nav .item:hover::after{
	opacity: 1;
}
header nav .item:nth-child(3):hover::after{
	opacity: 0;
}
.dropbtn {
    cursor: pointer;
}
.dropdown {
    position: relative;
}
.dropdown-content {

	-webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
    opacity: 0;
    position: absolute;
    width: 100%;
    min-width: 138px;
    top: -23px;
    left: 20.2px;
	border-radius: 2px;
	background-color: rgb(250, 250, 250);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.dropdown-content a {
    color: #444444;
    padding: 9px 16px 9px 28px;
    text-transform: none;
    display: block;
    text-align: left;
}
.dropdown-content a:first-child {
    background: url(../image/drop-arrow.png) no-repeat  105px 13.5px;
    color: #969696;
	margin: 15px 0 15px;
}
.dropdown-content a:last-child {
	margin-bottom: 15px;
}
.dropdown-content a:hover {  background-color: rgb(238, 238, 238);}
.dropdown:hover .dropdown-content {
    opacity: 1;
}
.sign-search {
	color: #fff;
}
.sign {
    padding: 24px 0;
} 
.sign,
 #search-btn{
	float: left;
} 
#search-btn {
	margin: 20px 0 0 48px;
}
#search-btn img {
	width: 18px;
}
#search-input {
    position: absolute;
    left: auto;
    right: 0;
    top: 16px;
    width: 100%;
    min-width: 200px;
    display: none;
    height: 30px;
    padding-left: 40px;
    background: #000 url(../image/search.png) no-repeat 8px 8px;
    background-size: 14px;
    border: none;
    color: #fff;
}
#search-input:target {
	display: block;
}
/* hamburger 
======================== */
.hamburger {
	float: right;
	display: none;
  	width: 30px;
}
nav.mobile {
	display: none;
    color: #000;
    background: #fff;
    position: absolute;
    top: 32px;
    right: 33px;
	max-width: 150px;
    padding: 15px 0;
	z-index: 1;
	border-radius: 2px;
	background-color: rgb(250, 250, 250);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}
nav.mobile a {
    display: block;
    padding: 20px;
}
nav.mobile a:hover { color: #2196f3;} 
.burger-shower {
  display: none;
}
.burger-shower:checked ~ .mobile {
  display: block;
}
.hamburger label {
	cursor: pointer;
}

.hamburger hr {
    height: 4px;
    border: none;
    background: #fff;
    /* border: none; */
    margin: 6px 0;
}

/* main
======================== */
main {
	background: #f3f3f3;
	overflow: hidden;
}
/* article
======================== */
article {
	margin: 40px 0 40px 8.5%;
	width: 66.103%;
	background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}
article a,
article button {
	transition: background-color .3s linear;
}
article > img {
	width: 100%;
}
.author{
	padding: 30px 0 15px 30px;
}
.author img,
.info {
	float: left;
}
.info {
	margin-left: 15px;
}
.info .name {
	font-size: 1.143em;
	color: #4d4d4d;
	margin-bottom: 3.5px;
}
.info .activity {
	color: #999;
}
.preview {
	padding: 0 60px 50px 30px;
}
.preview h2 {
	font-size: 2.572em;
}
.preview p {
	font-size: 1.286em;
	line-height: 2em;
	font-family: 'Helvetica Neue', Arial, sans-serif;;
}
.preview a {
	display: block;
	width: 112px;
	height: 36px;
	border-radius: 2px;
	background-color: rgb(33, 150, 243);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.preview a:hover {
	background-color: #067ad7;
}

/* article videos
======================== */
.videos article {
	overflow: hidden;
	width: 32.204%;
	float: left;
	margin: 10px 0;
}
.videos .preview h2 {
	margin: 0;
}
.image-article  {
	position: relative;
}
.image-article img {
	width: 100%;
	display: block;
}
.image-article button  {
	position: absolute;
	bottom: -36px;
	right: 24px;
	height: 72px;
	width: 72px;
	border: none;
	border-radius: 50%;
	background: #2196f3;
	cursor: pointer;
  	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}
.image-article button::after {
	content: '';
	position: absolute;
    top: 26px;
    left: 28px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 18px;
	border-color: transparent transparent transparent #ffffff;
}
.image-article button:hover  {
	background: #067ad7;
}

.videos article:first-child {
	margin: 40px 0 40px 0;
	width: 100%;
}
.videos article:first-child  .preview {
	padding: 20px 30px 20px 30px;
	max-width: 720px;
}
.videos article .preview {
	padding: 20px 20px 20px 20px;
}
.videos article:nth-child(3n+3) {
	margin: 10px 1.69%; 
}

.videos article:not(:first-child) .preview h2{
	font-size: 1.3em;
	font-weight: normal;
	font-family: 'Helvetica Neue', Arial, sans-serif;;
}
.videos article:not(:first-child) .preview p{
	margin: 0;
}
.preview p.source {
	color: #4d4d4d;
}

.videos article:last-child{
	margin-bottom: 107px;
}
/* pagination
===================== */
.pagination {
	background-color: #2196f3;
	padding: 47px 0 28px;
}
.pagination a {
	color: #fff;
	font-size: 1.36em;
	position: relative;
	font-family: 'Roboto Medium', sans-serif;
}
.pagination .prev {
	float: left;
	margin-left: 30px;
}
.pagination .next {
	float: right;
	margin-right: 30px;
}
.pagination .prev::before {
	content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: -30px;
	width: 16px;
	height: 16px;
	background: url(../image/pag_arrow.png);
}
.pagination .next::after {
	content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: -30px;
	width: 16px;
	height: 16px;
	background: url(../image/pag_arrow.png);
	transform: rotate(180deg);
}
footer nav {
	float: left;
}
footer .copyright {
	float: right;
}
footer {
	padding: 37px 0;
	color: #999;
}
footer nav a {
	color: #999;
	margin-right: 30px;
}
